services:
  backend:
    build:
      context: ./backend
    container_name: x_clone_backend
    entrypoint: ["/app/entrypoint.sh"]
    command: ["python", "manage.py", "runserver", "0.0.0.0:8000"]
    volumes:
      - ./backend:/app
      - ./backend/media:/app/media
      - ./backend/media-seed:/app/media-seed
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    environment:
      DJANGO_SETTINGS_MODULE: backend.settings.development
    depends_on:
      - db
    restart: always

  db:
    image: postgres:16
    container_name: x_clone_db
    env_file:
      - ./backend/.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
